.review-container {
    display: flex;
    justify-content: space-between;
}

.timestamp {
    font-size: 0.8em;

}

.review-text{
    word-wrap: break-word;
    word-break: break-word;
    white-space: pre-wrap; 
}